@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 1;
    border: none;
    
}


body {
    font-family: 'Varela', sans-serif;
    font-weight: 400;
    
}

/* logo and headings */

h1, h2 {
    font-family: 'Varela', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: whitesmoke;
}


#logo {
    float: left;
    font-size: 400%;
    margin-left: 75px;
}
#logo a {
    text-decoration: none;
    color: inherit;
}
 
 

/* navigations Links */

#navigation {
    font-size: 120%;
    letter-spacing: 3px;
    margin-right: 20px;
    color: whitesmoke;
}
#navigation a {
    text-decoration: none;
    color: inherit;
}
#navigation, #logo {
    line-height: 90px;

}
#navigation a:hover {
    border:  1px solid black;
    
}

#navigation li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

/* Home image */

#home-image {
    /* image was created by me using Canva */
    
    background: url(../images/home-image.png) no-repeat center center;
    height: 900px;
     width: 100%;

}
#home-ut {
    height: 900px;
    width: 100%;
    
}

/* Citat */

hr {
    border-top: 3px solid black;
    width: 75%;
    margin: 0 auto;
    
    
}
#citat {
    color: rgba(250, 154, 9, 0.74);
    font-size: 50px;
    text-align: center;
    
}

.citat-video {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    margin-top: 25px;
}

/* The footer and copyright */
footer {
    height: 160px;
    background-color: rgba(250, 154, 9, 0.74) ;
    margin-top: 50px;
    
}

.social-media-links {
    list-style-type: none;
    text-align: center; 
   
}
.social-media-links i {
    margin: 10%;
    font-size: 50px;
    color: whitesmoke;
    padding: 2%;
    margin-top: 20px;
    letter-spacing: 75px;
}   
.social-media-links > li  {
    display: inline-block;
    
}

.copyright {
    margin: 2%;
    font-size: 20px;
    color: darkblue;
    padding: 1%;
    margin-top: 10px;
    text-align: center;
}

.copyright i {
    color: whitesmoke;
}


 
